@model             Cliente

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClienteID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClienteID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Provincia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Canton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Canton)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Distrito)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Distrito)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HistorialTotalDinero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HistorialTotalDinero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UltimoAnoDinero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UltimoAnoDinero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadSeisMesesDinero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadSeisMesesDinero)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
