@model             Articulo

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArticuloID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArticuloID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cantidadExistencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantidadExistencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IDBodega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IDBodega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaIngresoBodega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaIngresoBodega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tipoLicor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tipoLicor)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArticuloID  }) |
    <a asp-action="Index">Volver al inventario</a>
</div>
